<%- include ('../partials/navigation') %>

<br><br><br><br>
<!-- chat box for patients  -->
<div class="chat-container">
    <section class="chat-header" style="background-color: rgb(76, 155, 76);">
      <h1><i class="fa fa-comments-o" aria-hidden="true"></i> Sankalp's Discussion Room</h1>
      
    </section>
    <main class="chat-main">
      <div class="chat-sidebar" style="background-color: rgb(107, 179, 107);">
        <h2>Why this chatroom?</h2>
        <div class="">This chatroom allows the users to interact among themselves and get the information related to appropriate doctor's appointment</div>
        <br>
        <h5 class="chatroom-quote">"Physicians and patients need to work together to pursue care that improves health, avoids harms and eliminates wasteful practices"</h5>
      </div>
      <div id="message-collection" class="chat-messages" >

                <!-- here comes all the messages -->
                <% messages.forEach(function(msg){ %>
                    <div class="message" style="background-color: rgb(202, 224, 202);">
                        <p class="meta" style="color: rgb(12, 73, 12);"><%= msg.senderName %> <br>
                        <span><%= msg.sendingTime %></span></p>
                        <p class="text"><%= msg.senderMsg %></p>
                    </div>
                <% }) %>
                    
      </div>
    </main>
    <div class="chat-form-container" style="background-color: rgb(76, 155, 76);">
        <div class="chat-form">

          <!-- input field to write message -->
            <input
                id="msg"
                type="text"
                placeholder="Enter Message"
                required
                autocomplete="off"
            />
            <button id="sendMsgButton" onclick="appendNewMsg('<%= user.name %>')" class="btn btn-dark"><i class="fa fa-paper-plane"></i> Send</button>
        </div>
        
     
    </div>
</div>

<!-- javascripts file -->
<script src="/js/chat.js"></script>