<section class="doctor">
<%- include ('../partials/navigationDoc') %>
<%- include ('../partials/messages') %>


  <% if(user.appointments.length==0){%> 
    <div class="container justify-content-center postbox2" style="height: 400px;">
      <h5 style="color: whitesmoke"> No Appointments Yet. </h5>
    </div>
    <% } else { 
       user.appointments.forEach(function(ele) { %>
        <div class="container justify-content-center postbox2">
         <div class="container patientName"><%= ele.name %> </div>
         <hr>
         <div class="container patage mb-2" id="age">
          <button class="btn-info">Age </button>
          <h5  class="ml-3"> <%= ele.age %></h5>
          </div>
          <div class="container patgender mb-2" id="gender">
            <button class="btn-info">Gender </button>
            <h5  class="ml-3"> <%= ele.gender %></h5>
            </div>
            <div class="container patphone mb-2" id="phone">
              <button class="btn-info">Phone Number </button>
              <h5  class="ml-3"> <%= ele.phone %></h5>
              </div>
              
              <div class="container patphone mb-2" id="mode">
                <button class="btn-info">Preference of mode </button>
                <h5  class="ml-3"> <%= ele.mode %></h5>
                </div>
                <div class="container patphone mb-2" id="time">
                  <button class="btn-info">Preference of time</button>
                  <h5  class="ml-3"> <%= ele.time %></h5>
                  </div>
                  <br>
                  <% console.log(ele.id);%>
        <div class="container check">
            <button class="acceptButton btn btn-success" id='acceptButton/<%=ele.email%>'  onclick='acceptFunction("<%= ele.email%>")' >Accept</button>
            <br><br>
            <button class="cancelButton btn btn-danger" id='cancelButton/<%= ele.email%>'  onclick='cancelFunction("<%= ele.email%>")' >Reject</button>
          </div>  
        </div>
        <% }); %>  
    
    <% } %> 

  </section>
  

<!--<a href="/videoCall" class="btn btn-secondary">Video Call-->
  <!-- on click function for acceptbutton  -->
  <%- include ('../partials/footer') %> 
    
<script src="/js/homeDoc.js"></script>
