<section class="box">
  <%- include ('../partials/navigationDoc') %>
  <div>
  <h1 class="mt-4">Present Appointments</h1>
  </div>
 
<% if(user.acceptedApp.length==0){%> 
  <div class="container justify-content-center postbox2" style="height: 400px;right: 50px;">
    <h5 style="color: black;"> No Appointments Yet. </h5>
  </div>
  <% } else { 
user.acceptedApp.forEach(function(ele) { %>
    <div class="container justify-content-center postbox">
     <div class="container patientName"><%= ele.name %> </div>
     <hr>
     <div class="container patage mb-2" id="age">
        <button class="btn-info">Email </button>
        <h5  class="ml-3"> <%= ele.email %></h5>
        </div>
     <div class="container patage mb-2" id="age">
      <button class="btn-info">Age </button>
      <h5  class="ml-3"> <%= ele.age %></h5>
      </div>
      <div class="container patgender mb-2" id="gender">
        <button class="btn-info">Gender </button>
        <h5  class="ml-3"> <%= ele.gender %></h5>
        </div>
        <div class="container patphone mb-2" id="phone">
          <button class="btn-info">Phone Number </button>
          <h5  class="ml-3"> <%= ele.phone %></h5>
          </div>
          <div class="container patphone mb-2" id="weight">
            <button class="btn-info">Weight </button>
            <h5  class="ml-3"> <%= ele.weight %></h5>
            </div>
            <div class="container patphone mb-2" id="height">
              <button class="btn-info">Height </button>
              <h5  class="ml-3"> <%= ele.height %></h5>
              </div>
              <div class="container patphone mb-2" id="bloodGroup">
                <button class="btn-info">Blood Group </button>
                <h5  class="ml-3"> <%= ele.bloodGroup %></h5>
                </div>
                <div class="container patphone mb-2" id="presentHealthStatus">
                  <button class="btn-info">Present Health Status </button>
                  <h5  class="ml-3"> <%= ele.presentHealthStatus %></h5>
                  </div>
          <div class="container patphone mb-2" id="mode">
            <button class="btn-info">Preference of mode </button>
            <h5  class="ml-3"> <%= ele.mode %></h5>
            </div>
            <div class="container patphone mb-2" id="time">
              <button class="btn-info">Preference of time</button>
              <h5  class="ml-3"> <%= ele.time %></h5>
              </div>
              <br>
              <div class="container patphone mb-2" id="phone">
                <button class="btn-info">Uploaded File from patient</button>
                <%=ele.filename%>
               <div>
               </div>
                <button class="downloadButton btn btn-success " id='downloadButton/<%=ele.filename%>' onclick='downloadFunction("<%=ele.filename%>")' >Download</button> 
              </div> 
              <br>
           <!-- Send Msg to patient -->
           <div class="form-group  d-flex justify-content-center">
                <label for="MSG"  id="docmsg"></label>
    <input type="text" id="sendMsg" name="sendMsg"  placeholder="Enter Msg to be send.." value="<%= typeof sendMsg != 'undefined' ? sendMsg : '' %>"/>            
<button class="msgButton btn btn-success" id='msgButton/<%=ele.id%>' onclick='msgFunction("<%= ele.id%>")' >Send</button>
          </div>
<div class="container check">
  <!--<button class="chatButton btn btn-success" id='chatButton' onclick='chatFunction("<%= ele.randomId%>")' >Chat</button>
  <button class="videoButton btn btn-success" id='videoButton' onclick='videoFunction("<%= ele.randomId%>")' >Video Call</button> -->    
  <a class="btn btn-success" href="/video/<%= ele.randomId%>" >Video Call</a><!--Add video call link in place of #-->
  <a class="btn btn-success" href="/room/<%=user.email%>+<%= ele.email%>" >Chat</a><!-- /chat/<%=user.email%>+<%= ele.email%>                 Add chatlink in place of #-->
        <br><br>
        <a class="btn btn-success btn-block" href="/doctor/history/<%= ele.email%>" >Completed Appointment</a>
        <br>
      </div>  
    </div>
<% }) ;%>
<% } %> 
</section>
<script src="/js/message.js"></script>
<script src="/js/download.js"></script>  
