<h1 class="mt-4">Home Page Doctor</h1>
<p class="lead mb-3">Welcome Doctor:<%= user.name %></p>
<p class="lead mb-3"> <%= user.email %></p>
<a href="/doctor/logoutDoc" class="btn btn-secondary">Logout</a>
<br><br>
<a href="/doctor/deleteDoc" class="btn btn-secondary">Delete Account</a>
<br><br>
<h5>YOUR PROFILE</h5>
<div>
<p class="lead mb-3">Location: <%= user.location %></p>
<p class="lead mb-3">Age of Doctor: <%= user.age %></p>
<p class="lead mb-3">Gender: <%= user.gender %></p>
<p class="lead mb-3">Phone Number: <%= user.phone %></p>
</div>
<a href="/doctor/profileDoc" class="btn btn-secondary">Update Details</a>
<br>
<br>
<a href="/room" class="btn btn-secondary">Video Call