<section class="register">
<%- include ('partials/design') %>

<!--<div class="row mt-5">-->
    <div class="col-md-6 m-auto" >
      <div class="card card-body" style="left: 208px;-webkit-box-shadow: -2px 4px 24px -2px rgba(10,10,10,1);
      -moz-box-shadow: -2px 4px 24px -2px rgba(10,10,10,1);
      box-shadow: -2px 4px 24px -2px rgba(10,10,10,1);"> 
        <h1 class="text-center mb-3">
          <i class="fa fa-user-plus"></i> Register Patient</h1>
          <%- include ('partials/messages') %>
        <form action="/user/register" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"/>
          </div>



           <!-- Send OTP button -->
           <div class="form-group  d-flex justify-content-center">
            <button id="getOTPButton" type="button" class="btn btn-primary nav-link" onclick="sendOTPFunction('user')" data-toggle="modal"   class="nav-link">
              Verify
            </button>
          </div>
          

          <!-- Modal to enter OTP--> 
          <div class="modal fade" id="OTPModal" tabindex="-1" role="dialog" aria-labelledby="OTPModalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header bg-success">
                  <h5 style="color:white" class="modal-title" id="OTPModalTitle">One Time Password Privacy</h5>
                </div>
                <div class="modal-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Check your mail-box for OTP </li>      
                  </ul>
                  <div class="form-group d-flex justify-content-center">
                    <div class="input-group" style="width:70%">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fa fa-user-secret"></i>
                        </div>
                      </div> 
                      <input type="password" name='OTP' placeholder="Enter OTP here..." />
                    </div>
                  </div>
                  <button type="button"  class="btn btn-success" data-dismiss="modal" aria-label="Close">
                    Done
                  </button>
                </div>
              </div>
            </div>
         </div>


          <!-- MOdal box to show error related to OTP -->
          <div class="modal fade" id="OTPErrorModal" tabindex="-1" role="dialog" aria-labelledby="OTPErrorModalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header bg-danger">
                  <h5 style="color:white" class="modal-title" id="OTPErrorModalTitle">OOPS !!! Error</h5>
                </div>
                <div class="modal-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Please,Enter your valid Email address.</li>      
                  </ul>
                  <button type="button"  class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                    Okay
                  </button>
                </div>
                
              </div>
            </div>
          </div>

          <button id='SubmitButton' type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </form>
       <!--<p class="lead mt-4">Have An Account? <a href="/user/login">Login As Patient</a></p>
        <p class="lead mt-4">You are doctor? <a href="/doctor/registerDoc">Register here</a></p>-->
      </div>
    </div>
  <!--</div>-->
  </section>
  <%- include ('partials/footer') %>
<script>
  // ------This code is basically used to generate OTP-----

console.log('client side code is running');

// function triggered on click to 'verify' button

//usertype : developer or recruiter
function sendOTPFunction(userType){

    //extract email written by user
    const email=document.getElementById('email').value;
    

    //-----------------XML http request------------------------

      //(so without rendering data will be feeded)

      //refer to google for this regex 

      // this if condition used to check whether written email is valid or not
      //if valid
      if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email))
      {
        // This modal box to verify OTP
        document.getElementById('getOTPButton').setAttribute("data-target","#OTPModal");


        // -----Make xhr request to server to send OTP to this email----
        var xhr=new window.XMLHttpRequest();
      
        xhr.open('POST','/'+userType+'/OTP/'+email,true);
        xhr.setRequestHeader('Content-Type','application/json;charset=UTF-8');
        xhr.send();
      }



      //if not valid,then show alert message
      else{
          document.getElementById('getOTPButton').setAttribute("data-target","#OTPErrorModal");
      }
      
    
      

}
</script>