<section class="patient-home">
<%- include ('../partials/navigation') %>
<%- include ('../partials/messages') %>

<br><br><br>
<div class="nearby">

    <button style="position: fixed;" type="button" class="filterButton btn btn-dark" data-toggle="modal"  data-target="#filterModal">
      <i class="fa fa-filter"></i> Filter By Nearby Doctors
    </button>
    <!-- bring filterPosts partial -->
    <%- include ( "../partials/filterPosts" ) %>
</div>
<%
var   Doctors=[];
Doctors= doctors;
Doctors.reverse();
%>
<% if( Doctors.length==0){%> 
  <div class="container justify-content-center postbox1" style="height: 400px;left:100px;">
    <h5 style="color: whitesmoke;"> No Appointments Available. </h5>
  </div>
 <% }else {
 if(typeof  Doctors!== 'undefined' ){ %> <%  Doctors.forEach(function(doc) { %>
       <%if(doc.specialisation!=='' && doc.qualifications !=='' && doc.availableDays!==''){%>
    <div class="container justify-content-center postbox1">
      <div class="container doctorName">
        <h3><i class="fa fa-user-md"></i> <%= doc.name %></h3>
        <hr class="bg-white">
      </div>
      <% if(doc.specialisation!==''){ %>
      <div class="container speciDoc mb-2" id="specialisation">
        <button class="btn-info">Specialisation </button>
        <h5  class="ml-3"> <%= doc.specialisation %></h5>
      </div><% } %>
      <% if(doc.qualifications!==''){ %>
      <div class="container qualiDoc  mb-2">
        <button class="btn-info">Qualifications</button>
        <h5 class="ml-3"> <%= doc.qualifications %></h5>
      </div><% } %>
      <% if(doc.fees!==''){ %>
      <div class="container fee mb-2">
        <button class="btn-info">Fees </button>
        <h5 class="ml-3">Rs. <%= doc.fees %></h5>
      </div><% } %>
      <% if(doc.availableDays!==''){ %>
      <div class="container days mb-2">
        <button class="btn-info">Available Days </button>
        <h5 class="ml-3"> <%= doc.availableDays %></h5>
      </div><% } %>
      <% if(doc.availableHours!==''){ %>
      <div class="container hours mb-2">
        <button class="btn-info">Available Hours </button>
        <h5 class="ml-3"> <%= doc.availableHours %></h5>
      </div><% } %>
      <% if(doc.location!==''){ %>
        <div class="container location mb-2">
          <button class="btn-info">Location </button>
          <h5 class="ml-3"> <%= doc.location %></h5>
        </div><% } %>
        <br>
        <div class="container preferenceHere ">
          <h6>Preference of Mode</h6>
        <div id="rates">
          <input type="radio" id="r1" name="rate" value="Online"> 
          Online Mode of Appointment
          <br>
          <input type="radio" id="r2" name="rate" value="Offline"> 
          Offline Mode of Appointment 
          <br>
        </div>
        <h6>Preference of Time</h6>
        <div id="timings">
          <input type="radio" id="rt1" name="time" value="Morning 9am to 12pm"> 
         9 am to 12pm <br>
          <input type="radio" id="rt2" name="time" value="Afternoon 2pm to 4pm "> 
          2pm to 4pm <br>
          <input type="radio" id="rt2" name="time" value="Evening 6pm to 8pm"> 
          6pm to 8pm <br>
        </div>
        <button class="preferenceButton btn btn-success" id='preferenceButton/<%= doc.email %>' onclick='preferenceFunction("<%= doc.email %>")' >Done</button>
        </div>
        <br>
        <% var flag=1,vlag=1; 
        user.appointPatient.forEach(function(email){
          if(email=== doc.email){
            flag=-1;
          }
        })
        user.preference.forEach(function(ied){
          if(ied.email=== doc.email){
            console.log(ied);
            vlag=-2;
          }
        })
        if(typeof user.location==='undefined' || vlag!==-2){ %>
         <p class="warningmsg"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> To book appointment Update Profile Details and Select the preference</p> 
        <button class="trial btn btn-success">Book Appointment</button>
        <% } else if(flag===-1){ %> 

          <div class="container appointHere">
            <button  class="appointButton btn btn-danger">Appointment Booked</button>
          </div>

          <% } else { %>  
      <div class="container appointHere">
        <button class="appointButton btn btn-success" id='appointButton/<%= doc.email %>' onclick='appointFunction("<%= doc.email %>")' >Book Appointment</button>
      </div>
      <% } %>
      <br>
     <p class="dateToday"><%= doc.date%></p>
    </div><br><br>
    <% } %>
  <% }); %> <% } %>
  <% } %>
  </section>
  <%- include ('../partials/footer') %>  
  
<script src="/js/preference.js"></script>
<script src="/js/appointment.js"></script>
