
<%- include ('../partials/navigation') %>

<header>
  <br><br><br><br>
<div class="container justify-content-center postbox4">
    
    <div class="container patName">
      <h3><i class="fa fa-user"></i> <%= user.name %></h3>
    </div>
    <br> <br>
    <div class="container profile mb-2" id="specialisation">
      <button class="btn-info">Email Id </button>
      <h5  class="ml-3"> <%= user.email %></h5>
    </div>
    <div class="container profile mb-2" id="specialisation">
        <button class="btn-info">Age </button>
        <h5  class="ml-3"> <%= user.age%></h5>
      </div>
    <div class="container profile  mb-2">
      <button class="btn-info">Location</button>
      <h5 class="ml-3"> <%= user.location %></h5>
    </div>
    <div class="container profile mb-2">
      <button class="btn-info">Phone Number </button>
      <h5 class="ml-3"> <%= user.phone %></h5>
    </div>
    <div class="container profile mb-2">
      <button class="btn-info">Weight </button>
      <h5 class="ml-3"> <%= user.weight %></h5>
    </div>
    <div class="container profile mb-2">
      <button class="btn-info">Height </button>
      <h5 class="ml-3"> <%= user.height %></h5>
    </div>
    <div class="container profile mb-2">
      <button class="btn-info">Blood Group </button>
      <h5 class="ml-3"> <%= user.bloodGroup %></h5>
    </div>
    <div class="container profile mb-2">
      <button class="btn-info">Heath Status </button>
      <h5 class="ml-3"> <%= user.presentHealthStatus %></h5>
    </div>
    <br><br>
<a href="/user/profile" class="btn btn-success ">Update  Profile Details</a>
</div>
</header>
<%- include ('../partials/footer') %>

