<section class="box">
    <%- include ('../partials/navigation') %>
    <br><br><br><br>
    <div class="justify-content-center" ><h2>Past Appointments</h2></div>
    <hr>
    <!-- form used to search doctors profile -->
        
<div class="container searchSection border-gradient border-gradient-black" style="background-color: aliceblue;">
  <h3>Search Doctor</h3>
  <form action="/user/searchDoctor" method='POST'>
      <div class="input-group p-3">
      <input name='doctorName' class="form-control searchInputTag" type="text" id="searchName" placeholder="Type a doctor name here...">
      <button type='submit' id='searchButton' class="btn btn-light ml-2"><i class="fa fa-paper-plane"></i> Search</button>
      </div>
      
  </form>
</div>

    <br><br>
    <% if(user.historyDetails.length==0){%> 
        <div class="container justify-content-center postbox2" style="height: 400px;right: 50px;">
          <h5 style="color: black;"> No Appointments Yet. </h5>
        </div>
        <% } else {  
        
            user.historyDetails.forEach(function(ele) { %>
      
          <div class="container justify-content-center postbox">
          <% docs.forEach(function(item){if(item.email===ele.email_doctor){%>
                  <div class="container patientName"><i class="fa fa-user-md"></i> Doctor <%= item.name %> </div>
                  <div class="container patage mb-2" id="age">
                     <button class="btn-info">Email </button>
                     <h5  class="ml-3"> <%= item.email %></h5>
                     </div>
                  <div class="container patage mb-2" id="age">
                   <button class="btn-info">Age </button>
                   <h5  class="ml-3"> <%= item.age %></h5>
                   </div>
                     <div class="container patphone mb-2" id="phone">
                       <button class="btn-info">Phone Number </button>
                       <h5  class="ml-3"> <%= item.phone %></h5>
                       </div>
                       <div class="container patphone mb-2" id="weight">
                        <button class="btn-info"> Specialisation </button>
                        <h5  class="ml-3"> <%= item.specialisation %></h5>
                        </div>
                        <div class="container patphone mb-2" id="phone">
                          <button class="btn-info">Uploaded File </button>
                          <%= ele.name %>
                         <div>
                         </div>
                          <button class="downloadButton btn btn-success " id='downloadButton/<%=ele.name%>' onclick='downloadFunction("<%=ele.name%>")' >Download</button> 
                        </div> 
            <%  }})%> 
          </div>
             
       <% }) %>
       <% } %>   
      </section>
      <script src="/js/download_patient.js"></script> 
      
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/searchAutocomplete.js"></script>
